body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

div {
    background: gray;
    padding: 35px 45px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

div:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
    border-style: inset;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: white;
}

input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

input[type="email"]:focus, 
input[type="password"]:focus {
    border-color: #66a6ff;
    outline: none;
    
}

button {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background: #66a6ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background: #557dc7;
    transform: translateY(-2px);
}

p {
    text-align: center;
    margin-top: 10px;
    color: red;
    font-size: 14px;
}
input[type="password"]:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
    border-style: inset;
}
input[type="email"]:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
    border-style: inset;
}
